# BOLLETTE 10-23 --> 10-24

### GAS (PAGATO DA GIACOMO)

In [17]:
GAS_ottobre_novembre=85.92
GAS_dicembre_febbraio=290.04
GAS_febbraio_marzo=73.71
GAS_aprile_maggio=94.25
GAS_giugno_luglio=72.85


GAS_storno=58.90   #agosto ottobre 2024

GAS_totale=GAS_ottobre_novembre + GAS_dicembre_febbraio + GAS_febbraio_marzo + GAS_aprile_maggio + GAS_giugno_luglio + GAS_storno
GAS_a_testa= GAS_totale/3
print('TOTALE SPESA GAS DI GIACOMO:  ',GAS_totale, '         GAS A TESTA:  ',GAS_a_testa )

TOTALE SPESA GAS DI GIACOMO:   675.6700000000001          GAS A TESTA:   225.22333333333336

### LUCE (PAGATA DA GIACOMO)

In [18]:
LUCE_voltura=0.0      
LUCE_storno=69.24      

LUCE_totale_GIACOMO= LUCE_voltura + LUCE_storno
LUCE_a_testa_GIACOMO= LUCE_totale_GIACOMO/3
print('TOTALE SPESA LUCE DI GIACOMO:  ',LUCE_totale_GIACOMO, '         LUCE A TESTA:  ',LUCE_a_testa_GIACOMO )

TOTALE SPESA LUCE DI GIACOMO:   69.24          LUCE A TESTA:   23.08

### LUCE (PAGATA DA MICHELE)

In [19]:
LUCE_ottobre_novembre=120.40
LUCE_dicembre_gennaio=51.14
LUCE_febbraio_marzo=40.57
LUCE_aprile_maggio=87.19
LUCE_giugno_luglio=89.05

LUCE_storno=0.0      #!!!DA AGGIUNGERE!!!

LUCE_totale_MICHELE= LUCE_ottobre_novembre + LUCE_dicembre_gennaio + LUCE_febbraio_marzo + LUCE_aprile_maggio + LUCE_giugno_luglio + LUCE_storno
LUCE_a_testa_MICHELE=LUCE_totale_MICHELE/3
print('TOTALE SPESA LUCE DI MICHELE:  ',LUCE_totale_MICHELE, '         LUCE A TESTA:  ',LUCE_a_testa_MICHELE )

TOTALE SPESA LUCE DI MICHELE:   388.35          LUCE A TESTA:   129.45000000000002

### ACQUA (PAGATA DA MICHELE)

In [20]:
ACQUA_novembre=69.31
ACQUA_novembre_febbraio=124.58
ACQUA_febbraio_maggio=82.96
ACQUA_maggio_agosto=192.85

ACQUA_storno=0.0      #!!!DA AGGIUNGERE!!!

ACQUA_totale=ACQUA_novembre + ACQUA_novembre_febbraio + ACQUA_febbraio_maggio + ACQUA_maggio_agosto + ACQUA_storno
ACQUA_a_testa=ACQUA_totale/3
print('TOTALE SPESA ACQUA DI MICHELE:  ',ACQUA_totale, '         ACQUA A TESTA:  ',ACQUA_a_testa )

TOTALE SPESA ACQUA DI MICHELE:   469.69999999999993          ACQUA A TESTA:   156.56666666666663

### INTERNET (PAGATO DA PAOLO)

In [21]:
INTERNET_1_mese=24.99
MESI_totali=12

INTERNET_totale=INTERNET_1_mese * MESI_totali
INTERNET_a_testa= INTERNET_totale / 3
print('TOTALE SPESA INTERNET DI PAOLO:  ',INTERNET_totale, '         INTERNET A TESTA:  ',INTERNET_a_testa )

TOTALE SPESA INTERNET DI PAOLO:   299.88          INTERNET A TESTA:   99.96

### TARI (PAGATA DA PAOLO)

In [22]:
TARI_totale=231.35
TARI_a_testa=TARI_totale / 3

print('TOTALE SPESA TARI DI PAOLO:  ',TARI_totale, '         TARI A TESTA:  ',TARI_a_testa )

TOTALE SPESA TARI DI PAOLO:   231.35          TARI A TESTA:   77.11666666666666

# CONTI FINALI (se valore POSITIVO siete CREDITORI, se NEGATIVO siete DEBITORI)

### Categorie:
    GAS_a_testa             (pagata da GIACOMO)
    LUCE_a_testa_GIACOMO    (pagata da GIACOMO)
    LUCE_a_testa_MICHELE    (pagata da MICHELE)
    ACQUA_a_testa           (pagata da MICHELE)
    INTERNET_a_testa        (pagata da PAOLO)
    TARI_a_testa            (pagata da PAOLO)

In [23]:
totale_bollette_MICHELE=LUCE_totale_MICHELE+ACQUA_totale
totale_bollette_GIACOMO=GAS_totale+LUCE_totale_GIACOMO
totale_bollette_PAOLO=INTERNET_totale+TARI_totale

media_bollette=(totale_bollette_MICHELE+totale_bollette_GIACOMO+totale_bollette_PAOLO)/3

print('MICHELE ha speso:  ',totale_bollette_MICHELE,'  GIACOMO ha speso: ',totale_bollette_GIACOMO,'  PAOLO ha speso:  ',totale_bollette_PAOLO)
print('La MEDIA è di:  ',media_bollette,'.\nMICHELE è a:  ',totale_bollette_MICHELE-media_bollette,'. GIACOMO è a:  ',totale_bollette_GIACOMO-media_bollette,'. PAOLO è a:  ',totale_bollette_PAOLO-media_bollette)

MICHELE ha speso:   858.05   GIACOMO ha speso:  744.9100000000001   PAOLO ha speso:   531.23
La MEDIA è di:   711.3966666666666 .
MICHELE è a:   146.6533333333333 . GIACOMO è a:   33.513333333333435 . PAOLO è a:   -180.16666666666663

In [24]:
Michele_Giacomo = +LUCE_a_testa_MICHELE  +ACQUA_a_testa  -GAS_a_testa       -LUCE_a_testa_GIACOMO
Michele_Paolo   = +LUCE_a_testa_MICHELE  +ACQUA_a_testa  -INTERNET_a_testa  -TARI_a_testa
Paolo_Giacomo   = +INTERNET_a_testa      +TARI_a_testa   -GAS_a_testa       -LUCE_a_testa_GIACOMO

print('il valore Michele_Giacomo è: ', Michele_Giacomo, '  quindi Michele è CREDITORE a Giacomo!') #!!!MODIFICARE FRASE FINALE IN BASE A + O -
print('il valore Michele_Paolo è:   ', Michele_Paolo, '  quindi Michele è CREDITORE a Paolo!') #!!!MODIFICARE FRASE FINALE IN BASE A + O -
print('il valore Paolo_Giacomo è:  ', Paolo_Giacomo, '  quindi Paolo è DEBITORE a Giacomo!') #!!!MODIFICARE FRASE FINALE IN BASE A + O -

il valore Michele_Giacomo è:  37.713333333333296   quindi Michele è CREDITORE a Giacomo!
il valore Michele_Paolo è:    108.94000000000001   quindi Michele è CREDITORE a Paolo!
il valore Paolo_Giacomo è:   -71.2266666666667   quindi Paolo è DEBITORE a Giacomo!